altgraph==0.17.4
appdirs==1.4.4
argcomplete==3.5.0
asgiref==3.8.1
autopep8==2.3.1
black==24.10.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
distlib==0.3.9
Django==5.2.3
docutils==0.21.2
et-xmlfile==1.1.0
filelock==3.16.1
idna==3.10
importlib_resources==6.4.5
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
mypy-extensions==1.0.0
openpyxl==3.1.5
packaging==24.1
pathspec==0.12.1
pefile==2024.8.26
pillow==10.4.0
platformdirs==4.3.6
pycodestyle==2.12.1
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pypng==0.20220715.0
python-barcode==0.15.1
python-escpos==3.1
pyusb==1.2.1
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qrcode==7.4.2
requests==2.32.3
setuptools==75.7.0
six==1.16.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.2.3
virtualenv==20.28.1
