{% extends 'core/base_panel.html' %}
{% load static %}

{% block title %}Mis Citas{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reservas/css/mis_citas_cliente.css' %}">
{% endblock %}

{% block content %}


{% if reservas %}
    <div class="lista-citas">
        <h1 class="titulo-citas">Mis Citas Médicas</h1>
        {% for reserva in reservas %}
        <div class="cita-item">
            <div class="cita-info">
                <span class="fecha">{{ reserva.fecha }} - {{ reserva.hora }}</span>
                <span class="mascota">Mascota: <strong>{{ reserva.nombre_mascota }}</strong></span>
                <span class="estado {{ reserva.estado }}">{{ reserva.estado|capfirst }}</span>
            </div>

            {% if reserva.estado == 'pendiente' or reserva.estado == 'aceptada' %}
                <form method="post" action="{% url 'reservas:cancelar_reserva_cliente' reserva.id %}" class="form-cancelar">
                    {% csrf_token %}
                    <button type="submit" class="btn-cancelar" onclick="return confirm('¿Estás seguro de que quieres cancelar esta reserva?');">
                        Cancelar
                    </button>
                </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% else %}
    <p class="sin-citas">No tienes reservas registradas.</p>
{% endif %}
{% endblock %}