{% extends "core/base_panel.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reservas/css/panel_reservas.css' %}">
{% endblock %}

{% block content %}
<div class="panel-reservas">
    <h2>📅 Reservas Recibidas</h2>
    
    {% if reservas %}
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Mascota</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr class="{% if reserva.estado == 'aceptada' %}fila-aceptada{% elif reserva.estado == 'rechazada' %}fila-rechazada{% endif %}">
                    <td data-label="Cliente">{{ reserva.nombre_cliente }}</td>
                    <td data-label="Mascota">{{ reserva.nombre_mascota }}</td>
                    <td data-label="Fecha">{{ reserva.fecha }}</td>
                    <td data-label="Hora">{{ reserva.hora }}</td>
                    <td data-label="Motivo">{{ reserva.motivo }}</td>
                    
                    <td data-label="Estado">
                        {{ reserva.estado|capfirst }}
                        {% if reserva.es_urgente %}
                            <span class="badge badge-warning ml-2">URGENTE</span>
                        {% endif %}
                    </td>
                    
                    <td class="estado-icono" data-label="Acciones">
                        {% if reserva.estado == "pendiente" %}
                            <a href="{% url 'reservas:cambiar_estado_reserva' reserva.id 'aceptada' %}" class="btn-icon aceptar-btn" title="Aceptar">✅</a>
                            <a href="{% url 'reservas:cambiar_estado_reserva' reserva.id 'rechazada' %}" class="btn-icon rechazar-btn" title="Rechazar">❌</a>
                        {% elif reserva.estado == "aceptada" %}
                            <span class="icono-estado aceptada">✔</span>
                        {% elif reserva.estado == "rechazada" %}
                            <span class="icono-estado rechazada">✖</span>
                        {% endif %}
                         
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay reservas registradas.</p>
    {% endif %}
</div>
{% endblock %}