{% extends "core/base_panel.html" %}
{% load static %}

{% block title %}Editar Perfil{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/editar_perfil_cliente.css' %}">
{% endblock %}

{% block content %}
<div class="perfil-content">
  <form method="post" enctype="multipart/form-data" class="perfil-form">
    {% csrf_token %}
    
    <h2>Editar Perfil</h2>

   

      <div class="imagen-perfil">
        <label for="id_imagen" style="cursor:pointer;" title="Haz clic para cambiar la imagen">                
          <img id="preview-imagen" src="{% if user.profile.imagen %}{{ user.profile.imagen.url }}{% else %}{% static 'path/to/default_profile_image.png' %}{% endif %}" alt="Imagen de perfil">
        </label>
          {{ form.imagen.errors }}
        <input id="id_imagen" type="file" name="imagen" style="display: none;">
      </div>

      

    <div class="form-grid-compact">
      <div class="campo-formulario-compact">
        <label for="{{ form_user.first_name.id_for_label }}">Nombre</label>
        {{ form_user.first_name }}
      </div>

      <div class="campo-formulario-compact">
        <label for="{{ form_user.last_name.id_for_label }}">Apellido</label>
        {{ form_user.last_name }}
      </div>

      <div class="campo-formulario-compact">
        <label for="{{ form_user.email.id_for_label }}">Correo electrónico</label>
        {{ form_user.email }}
      </div>
    </div>

    <div class="form-actions-compact">
      <button type="submit" class="boton-guardar-compact">Guardar cambios</button>
    </div>
  </form>
  
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'accounts/js/editar_perfil_cliente.js' %}"></script>
{% endblock %}
