{% extends 'core/base_panel.html' %}

{% block title %}Detalle del Reporte{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>🐾 Detalle del Reporte</h2>

  <img src="{{ mascota.imagen.url }}" width="300" class="img-thumbnail mb-3">

  <p><strong>Especie:</strong> {{ mascota.especie }}</p>
  <p><strong>Lugar encontrado:</strong> {{ mascota.lugar }}</p>
  <p><strong>Descripción:</strong> {{ mascota.descripcion }}</p>
  <p><strong>Estado:</strong> {{ mascota.get_estado_display }}</p>
  <p><strong>Fecha:</strong> {{ mascota.fecha_registro|date:"d/m/Y H:i" }}</p>

  <a href="{% url 'adopciones:editar_reporte_mascota' mascota.id %}" class="btn btn-warning">Editar</a>
  <a href="{% url 'adopciones:eliminar_reporte_mascota' mascota.id %}" class="btn btn-danger">Eliminar</a>
  <a href="{% url 'cliente:panel_cliente' %}" class="btn btn-secondary">Volver</a>
</div>
{% endblock %}
