{% extends 'core/base_panel.html' %}
{% load static %}
{% block title %}Editar Reporte{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/editar_reporte.css' %}">
{% endblock %}



{% block content %}
<div class="container mt-4">
  <h2>✏️ Editar Mascota Reportada</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a href="{% url 'adopciones:detalle_reporte_mascota' mascota.id %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
