{% extends "core/base_panel.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/publicar.css' %}">
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <div class="form-container">
        <a href="{% url 'panel_clinica' %}" class="btn-back"><span class="icon">←</span> Volver al panel</a>
        <h1>Publicar mascota en adopción</h1>

        <form action="{% url 'publicar_adopcion' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            
            <div class="form-grid">
                <div class="column left-column">
                    <div class="form-group">
                        <label for="{{ form.nombre.id_for_label }}">Nombre de la Mascota</label>
                        {{ form.nombre }}
                        {% if form.nombre.errors %}<ul class="errorlist">{% for error in form.nombre.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.especie.id_for_label }}">Especie de la Mascota</label>
                        {{ form.especie }} 
                        {% if form.especie.errors %}<ul class="errorlist">{% for error in form.especie.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                    </div>
                    
                    <div class="form-group">
                        <label for="{{ form.raza.id_for_label }}">Raza de la Mascota</label>
                        {{ form.raza }} 
                        {% if form.raza.errors %}<ul class="errorlist">{% for error in form.raza.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                        {% if form.raza.widget.attrs.disabled %}
                            <input type="hidden" name="raza" value="{{ form.raza.value }}">
                        {% endif %}
                    </div>
      
                    <div class="form-group">
                        <label for="{{ form.edad.id_for_label }}">Edad:</label>
                        {{ form.edad }}
                        {% if form.edad.errors %}<div class="error-message">{{ form.edad.errors }}</div>{% endif %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.unidad_edad.id_for_label }}">Unidad:</label>
                        {{ form.unidad_edad }}
                        {% if form.unidad_edad.errors %}<div class="error-message">{{ form.unidad_edad.errors }}</div>{% endif %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.sexo.id_for_label }}">Sexo:</label>
                        {{ form.sexo }}
                        {% if form.sexo.errors %}<div class="error-message">{{ form.sexo.errors }}</div>{% endif %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.estado.id_for_label }}">Estado:</label>
                        {{ form.estado }}
                        {% if form.estado.errors %}<div class="error-message">{{ form.estado.errors }}</div>{% endif %}
                    </div>

                </div>

                <div class="column right-column">
                    <div class="form-group description-group">
                        <label for="{{ form.descripcion.id_for_label }}">Descripción</label>
                        {{ form.descripcion }}
                        {% if form.descripcion.errors %}<ul class="errorlist">{% for error in form.descripcion.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                    </div>

                    <div class="form-group image-upload-group">
                        <div class="main-image-preview-container">
                            <img id="mainImagePreview" src="{% static 'img/placeholder_image.png' %}" alt="Image Preview" class="main-preview-image">
                        </div>
                        {{ form.imagen }} 
                        {% if form.imagen.errors %}<ul class="errorlist">{% for error in form.imagen.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                        <div class="upload-stats">
                            <button type="button" class="upload-main-button" id="triggerAdditionalUpload">Subir Imagen</button>
                            <span class="upload-count" id="uploadCount">0 archivos</span> 
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn-submit">Publicar Mascota</button>
        </form> 
    </div> 
</div>
<script src="{% static 'js/publicar_adopcion.js' %}" defer></script>
{% endblock %}