{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {% block title %}
        {% if request.user.profile.tipo == "clinica" %}
          Panel de Clínica
        {% elif request.user.profile.tipo == "cliente" %}
          Panel de Cliente
        {% elif request.user.profile.tipo == "farmacia" %}
          Panel de Farmacia
        {% else %}
          Panel
        {% endif %}
      {% endblock %}
    </title>

    {# Cambiar el CSS según el tipo de usuario, si quieres #}
    {% if request.user.profile.tipo == "clinica" %}
      <link rel="stylesheet" href="{% static 'accounts/css/panel_clinica.css' %}">
    {% elif request.user.profile.tipo == "cliente" %}
      <link rel="stylesheet" href="{% static 'accounts/css/panel_cliente.css' %}">
    {% elif request.user.profile.tipo == "farmacia" %}
      <link rel="stylesheet" href="{% static 'accounts/css/panel_farmacia.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/base_panel.css' %}">
  
    {% block extra_css %}{% endblock %}

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="main-nav">
            <div class="nav-brand">
                <h3>Pet Community</h3>
            </div>

            {% if request.user.is_authenticated %}
            <div class="profile-menu-container">
                <button class="profile-toggle">
                    {% if request.user.profile.imagen %}
                        <img src="{{ request.user.profile.imagen.url }}" alt="Foto de perfil" class="profile-picture-thumbnail">
                    {% else %}
                        <i class="fas fa-user-circle profile-icon-placeholder"></i>
                    {% endif %}
                    <span class="username-display">{{ request.user.get_username }}</span>
                    <i class="fas fa-chevron-down dropdown-arrow"></i>
                </button>
                <ul class="submenu profile-dropdown">
                    {% if request.user.profile.tipo == "clinica" %}
                        <li><a href="{% url 'core:home' %}">Inicio</a></li>
                        <li><a href="{% url 'panel_clinica' %}">Panel de Clínica</a></li>
                        <li><a href="{% url 'publicar_adopcion' %}">Publicar mascota</a></li>
                    {% elif request.user.profile.tipo == "cliente" %}
                        <li><a href="{% url 'core:home' %}">Inicio</a></li>
                        <li><a href="{% url 'panel_cliente' %}">Panel de Cliente</a></li>
                        <li><a href="{% url 'reservas:cliente_pedir_hora' %}">Mis citas</a></li>
                        <li><a href="{% url 'pedidos:mis_pedidos' %}">Mis Pedidos</a></li>
                        <li><a href="#">Mis Adopciones</a></li>
                    {% elif request.user.profile.tipo == "farmacia" %}
                        <li><a href="{% url 'core:home' %}">Inicio</a></li>
                        <li><a href="{% url 'productos:panel_farmacia' %}">Panel Farmacia</a></li>
                        <li><a href="{% url 'panel_farmacia' %}">Panel Pedidos Farmacia</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                </ul>
            </div>
            {% endif %}
        </nav>
    </header>

    
    
    <button id="sidebarToggle" class="sidebar-toggle" aria-label="Toggle sidebar">
        <i class="fas fa-bars">☰</i>
    </button>
    <div class="panel-clinica-container">
        <aside class="sidebar-menu">
            <div class="clinic-logo">
                <h2>Bienvenido</h2>
                <div class="user-profile-sidebar">
                    <span><strong>{{ request.user.username }}</strong></span>
                </div>
            </div>
            <nav>
                <ul>
                    {% if request.user.profile.tipo == "clinica" %}
                        <li {% if request.resolver_match.url_name == 'panel_clinica' %}class="active"{% endif %}>
                            <a href="{% url 'panel_clinica' %}"><i class="fas fa-home"></i> Página principal</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'editar_perfil_clinica' %}class="active"{% endif %}>
                            <a href="{% url 'editar_perfil_clinica' %}"><i class="fas fa-user"></i> Mi Perfil</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'clinica:listado_servicios' %}class="active"{% endif %}>
                            <a href="{% url 'clinica:listado_servicios' %}"><i class="fas fa-user"></i> Servicios</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'lista_reportes_pendientes' %}class="active"{% endif %}>
                            <a href="{% url 'adopciones:lista_reportes_pendientes' %}"><i class="fas fa-paw"></i> Reportes de Mascotas Abandonadas</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'panel_reservas_clinica' %}class="active"{% endif %}>
                            <a href="{% url 'panel_reservas_clinica' %}"><i class="fas fa-calendar-alt"></i> Citas y reservas</a>
                        </li> 
                        <li {% if request.resolver_match.url_name == 'clinicas:listado_mascotas' %}class="active"{% endif %}>
                            <a href="{% url 'clinicas:listado_mascotas' %}"><i class="fas fa-calendar-alt"></i> Pacientes</a>
                        </li>     
                        <li {% if request.resolver_match.url_name == 'mis_publicaciones_clinica' %}class="active"{% endif %}>
                            <a href="{% url 'adopciones:mis_publicaciones_clinica' %}"><i class="fas fa-paw"></i> Mascotas en Adopción</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'panel_solicitudes' %}class="active"{% endif %}>
                            <a href="{% url 'panel_solicitudes' %}"><i class="fas fa-paw"></i> Solicitudes de adopción</a>
                        </li>
                    
                    {% elif request.user.profile.tipo == "cliente" %}
                        <li {% if request.resolver_match.url_name == 'panel_cliente' %}class="active"{% endif %}>
                            <a href="{% url 'panel_cliente' %}"><i class="fas fa-user"></i> Panel Cliente</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'editar_perfil_cliente' %}class="active"{% endif %}>
                            <a href="{% url 'editar_perfil_cliente' %}"><i class="fas fa-user"></i> Mi Perfil</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'mis_reservas_cliente' %}class="active"{% endif %}>
                            <a href="{% url 'reservas:mis_reservas_cliente' %}"><i class="fas fa-calendar-check"></i> Mis citas</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'mis_pedidos' %}class="active"{% endif %}>
                            <a href="{% url 'pedidos:mis_pedidos' %}"><i class="fas fa-box"></i> Mis pedidos</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'mis_reportes_mascota_abandonada' %}class="active"{% endif %}>
                            <a href="{% url 'adopciones:mis_reportes_mascota_abandonada' %}"><i class="fas fa-box"></i> Mis reportes</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'mis_postulaciones' %}class="active"{% endif %}>
                            <a href="{% url 'adopciones:mis_postulaciones' %}"><i class="fas fa-paw"></i> Mis adopciones</a>
                        </li>
                       
                        <li {% if request.resolver_match.url_name == 'mis_mascotas_cliente' %}class="active"{% endif %}>
                            <a href="{% url 'clinicas:mis_mascotas_cliente' %}" class="btn btn-outline-info">Mis mascotas</a>

                        </li>
                        {# Aquí ya quité "mis_solicitudes" porque no existe la URL #}
                        
                    {% elif request.user.profile.tipo == "farmacia" %}
                    
                        <li {% if request.resolver_match.url_name == 'panel_farmacia' %}class="active"{% endif %}>
                            <a href="{% url 'productos:panel_farmacia' %}"><i class="fas fa-prescription-bottle-alt"></i> Panel Farmacia</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'editar_perfil_farmacia' %}class="active"{% endif %}>
                            <a href="{% url 'editar_perfil_farmacia' %}"><i class="fas fa-box"></i> Mi perfil</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'mis_productos' %}class="active"{% endif %}>
                            <a href="{% url 'productos:mis_productos' %}"><i class="fas fa-box"></i> Productos</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'pedidos_farmacia' %}class="active"{% endif %}>
                            <a href="{% url 'productos:pedidos_farmacia' %}"><i class="fas fa-box"></i> Pedidos</a>
                        </li>
                        <li {% if request.resolver_match.url_name == 'stock_farmacia' %}class="active"{% endif %}>
                            <a href="{% url 'productos:stock_farmacia' %}"><i class="fas fa-warehouse"></i> Stock</a>
                        </li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
                </ul>
            </nav>

            <div class="user-profile-sidebar">
                <span> <strong></strong></span>
            </div>
        </aside>

        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'accounts/js/panel_clinica.js' %}" defer></script>
    <script src="{% static 'js/base_panel.js' %}" defer></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
